<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React tutorial</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-with-addons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.33/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>
    <style type="text/css">
    html, body, .chatbox, .container{
      height:100%;
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: auto;
      right: auto;
      max-width:980px;
      width:100%;
      height: 40px;
      margin-top: 40px;
    }

    .history {
      max-height:95%;
      overflow-y:scroll;
    }

    ul {
      list-style-type: none;
    }
    </style>
    <script type="text/babel">
var Chat = React.createClass({
  nextStart: 0,
  getInitialState: function() {
    var userInfo = Cookies.get('react-tutorial-info');
    this.nextStart = 0;
    if (userInfo) {
      userInfo = JSON.parse(userInfo);
      return {
        nickname: userInfo.nickname,
        secret: userInfo.secret,
        messages: []
      }
    } else {
      return {
        nickname: "USER" + Math.round(Math.random() * 10000),
        secret: "",
        messages: []
      }
    }
  },
  componentDidMount: function() {
    this.fetchMessage();
    if (this.state.secret == "") {
      this.login();
    }
  },
  login: function() {
    var nickname = window.prompt("닉네임을 정해주세요. 한번 정하면 바꿀 수 없어요.", this.state.nickname);
    $.ajax({
      url: "/login",
      data: {
        nickname: nickname
      },
      cache: false,
      method: "POST",
      dataType: "json",
      success: function(data) {
        this.setState({
          nickname: nickname,
          secret: data.secret
        });
        Cookies.set('react-tutorial-info', JSON.stringify({
          nickname: nickname,
          secret: data.secret
        }));
      }.bind(this),
      error: function(xhr) {
        this.login();
      }.bind(this)
    });
  },
  fetchMessage: function() {
    setTimeout(() => {
      $.ajax({
        url: "/read",
        method: "GET",
        cache: false,
        data: {
          start: this.nextStart,
        },
        dataType: "json",
        success: function(data) {
          this.nextStart = data.nextStart;
          var messages = this.state.messages.concat(data.messages).filter(function(message) {
            return message.id;
          });
          this.setState({
            messages: messages,
          });
          this.fetchMessage();
        }.bind(this),
        error: function(xhr) {
          this.fetchMessage();
        }.bind(this)
      });
    }, 500);
  },
  onSubmit: function(text) {
    var newMessage = {
      from: this.state.nickname,
      message: text,
      secret: this.state.secret
    };

    this.setState({
      messages: this.state.messages.concat([newMessage])
    });
    this.refs.history.scrollTop = this.refs.history.scrollHeight;

    $.ajax({
      url: "/send",
      method: "POST",
      cache: false,
      data: newMessage,
      dataType: "json",
      success: function(data) {
      }.bind(this),
      error: function(xhr) {
        var res = xhr.responseJSON;
        if (res.error == "secret is not correct") {
          this.login();
        }
      }.bind(this)
    });
  },
  render: function() {
    var messagesView = this.state.messages.map(function(message, idx) {
      return (
        <li key={idx}>
          <div className="row">
            <div className="col-md-3">
              <b>{message.from}</b>
            </div>
            <div className="col-md-9">
               {message.message}
            </div>
          </div>
        </li>);
    });
    return (
      <div className="chatbox">
        <div className="history" ref="history">
          <ul>
            {messagesView}
          </ul>
        </div>
        <div className="footer form-group">
          <MessageForm onSubmit={this.onSubmit} nickname={this.state.nickname} />
        </div>
      </div>
    );
  }
});

var MessageForm = React.createClass({
  getInitialState: function() {
    return {message: ""};
  },
  onChange: function(e) {
    this.setState({message: e.target.value});
  },
  onSubmit: function(e) {
    e.preventDefault();
    var input = this.refs.messageInput;
    this.setState({message: ""});
    this.props.onSubmit(input.value);
  },
  render: function() {
    return (
      <form onSubmit={this.onSubmit}>
        <div className="input-group">
          <span className="input-group-addon" id="sizing-addon1">{this.props.nickname}</span>
          <input className="form-control" type="text" onChange={this.onChange} value={this.state.message} ref="messageInput"/>
          <span className="input-group-btn">
            <button className="btn btn-primary form-control" type="submit">Send</button>
          </span>
        </div>
      </form>
    );
  }
});

ReactDOM.render(
  <Chat />,
  document.getElementById('container')
);
    </script>
  </head>
  <body>
    <div id="container" class="container">
    </div>
  </body>
</html>
