<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React tutorial</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-with-addons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.33/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>
    <style type="text/css">
    html, body, .chatbox, .container{
      height:100%;
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: auto;
      right: auto;
      max-width:980px;
      width:100%;
      height: 40px;
      margin-top: 40px;
    }

    .history {
      max-height:95%;
      overflow-y:scroll;
    }

    ul {
      list-style-type: none;
    }
    </style>
    <script type="text/babel">
var Chat = React.createClass({
  secret: "",
  getInitialState: function() {
    return {
      nickname: "USER" + Math.round(Math.random() * 10000),
      messages: [{
        from: "Jaeman An",
        message: "Hello development team!"}
      ]
    }
  },
  render: function() {
    var messagesView = this.state.messages.map(function(message, idx) {
      return (
        <li key={idx}>
          <div className="row">
            <div className="col-md-3">
              <b>{message.from}</b>
            </div>
            <div className="col-md-9">
               {message.message}
            </div>
          </div>
        </li>);
    });
    return (
      <div className="chatbox">
        <div className="history" ref="history">
          <ul>
            {messagesView}
          </ul>
        </div>
        <div className="footer form-group">
          <MessageForm nickname={this.state.nickname} />
        </div>
      </div>
    );
  }
});

var MessageForm = React.createClass({
  render: function() {
    return (
      <form>
        <div className="input-group">
          <span className="input-group-addon">{this.props.nickname}</span>
          <input className="form-control" type="text" />
          <span className="input-group-btn">
            <button className="btn btn-primary form-control" type="submit">Send</button>
          </span>
        </div>
      </form>
    );
  }
});

ReactDOM.render(
  <Chat />,
  document.getElementById('container')
);
    </script>
  </head>
  <body>
    <div id="container" class="container">
    </div>
  </body>
  </html>
